# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
bin/
dist/
coverage.out

# Environment
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (если фронт будет в этом же репозитории)
node_modules/